.profileImage{
    width: 100%;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 20px;
}


.pos{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 0, 0, 0.699);
}