
.footer{
    background: $bestBlueColor;
    width: 100%;
    height: 400px;

}
    .footerInfo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

.footerBox{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

    .footerLink{
        color: whitesmoke;
        font-size: 21px;
        line-height: 80px;
    }
