@import './variables';

.message-wrapper{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 40%; /* Full width */
    height:90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(68, 68, 68, 0.822); /* Black w/ opacity */ 
    border-radius: 0px;
    margin: 50px 550px ;
    box-shadow: 0 10px 120px rgb(0, 0, 0);
    transition: 0.5s;

    .message-header{
        height: 100px;
        background: $bestBlueColor;
        color: whitesmoke;
        padding: 38px;
        button{
            float: left;
            background: red;
            width: 30px;
            padding: 4px;
            border: none;
            border-radius: 10px;
            font-size: 19px;
        }
        h2{
            font-size: 25px;
            font-weight: 200;
        }
    }

    .p-id{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(202, 202, 202);
        border-bottom: 1px solid black;
    }

    .message-box{
        height: 70vh;
        background: rgb(202, 202, 202);
        .sender-box{
            width: 100%;
            display: flex;
            justify-content: flex-end;

            .sender{
                background: $bestBlueColor;
                width: 200px;
                margin: 10px;
                border-radius: 30px 30px 0 30px;
                color: whitesmoke;
                padding: 10px;
            }
        }
         .reciver-box{
            width: 100%;
    
            .reciver{

                background: $bestRedColor;
                width: 200px;
                margin: 10px;
                border-radius: 30px 30px 30px 0;
                color: whitesmoke;
                padding: 10px;
            }
        }
    }

    .message-write{
        background: $bestBlueColor;
        height: 4vh;
        display: grid;
        grid-template-columns: 90% 10%;
        input{
            border: none;
            box-shadow: $mediumBoxShadow;
            padding-left:20px ;
        }
        button{
            box-shadow: $lightBoxShadow;
            background: $bestBlueColor;
            color: whitesmoke;
            border: none;
            transition: 0.6s;
            &:focus{
                transition: 0.6s;
                box-shadow: $mediumBoxShadow;
            }
            &:hover{
                transform: translateY(3px);
            }
        }
    }

}