@import './variables';

*{
    box-sizing: border-box;
}

.myWrap{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;
    grid-template-rows: none;
    grid-gap: 20px 20px ;
    padding: 20px;
    justify-content: space-around;

    .myCard{
        height: 300px;
        box-shadow: $lightBoxShadow;
        transition: 0.3s;
        // border-radius: 20px;
        margin-bottom: 10px;
        transition: 0.6s;
    }
    .myCard:hover {
        box-shadow: $mediumBoxShadow;
        margin-top: -10px;
        transition: 0.6s;
    }
        .imgBox{
            width: 100%;
            height: 200px;
        }

        .imgBox button{
            display: flex;
            color: yellow;
            font-size: 20px;
            opacity: 0.9;
            outline: none;
            border: none;
        }

   .myPrice{
        display: flex;
    }

   .myContent h3{
        font-size: 15px;
        font-weight: 700;
        padding: 5px;
        margin-bottom: 0;
    }

    .myPrice h5{
        font-size: 14px;
        font-weight: 600;
        padding: 10px;
        color: black;
        margin-top: -20px;
        margin-left: -10px;
        background: greenyellow;
        border-radius: 0 20px 20px 0;
        box-shadow: $lightBoxShadow;
    }

    .fs{
        height: 100%;
        font-size: 15px;
    }

    .mySlideShow{
        border-radius: 40px;
    }
}


// Media Query

@media only screen and (max-width: 1800px) {
    .myWrap{

        grid-template-columns: 200px 200px 200px 200px 200px 200px  ;
        grid-template-rows: none;
        grid-gap: 50px 10px ;
        padding: 50px;
        justify-content: space-around; 

    .myCard{
            height: 300px;
            box-shadow: $lightBoxShadow;
            transition: 0.3s;
            // border-radius: 20px;
            margin-bottom: 10px;
            transition: 0.6s;
        }





    }
    
}


@media only screen and (max-width: 800px) {
    .myWrap{
        grid-template-columns: 250px 250px;  
    }
}

@media only screen and (max-width: 600px) {
    .myWrap{
        grid-template-columns: 150px 150px; 
        grid-template-rows: none;
        grid-gap: 1px 100px;
   

    .myCard{
        width: 100%;
        height: 250px;
   }
    .myPrice{
        display: block;
    }

    .imgBox{
        width: 100%;
        height: 150px;
        border-radius: 10px 0 0px 10px ;
    }
    .container h1{
        font-size: 15px;
    }




 }
    
    

}