@import './products';
@import './variables';
@import './slideShow';
@import './productDetails';
@import './pictureSlider';
@import './landingPage';
@import './sellComponent';
@import './navbar';
@import './itemCard';
@import './signin';
@import './footer';
@import './messagePopup';
@import './unitedCard';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

